.container {
  display: flex;
  flex-wrap: wrap;
}

.box {
  background-color: #cc0024;
  flex: 1 2 200px;
  color: white;
  font-family: Helvetica;
  padding: 20px;
  transition: 0.1s background-color;
}

.middle {
  background-color: #b20039;
  flex-shrink: 1;
}

.box:hover {
  background-color: #ff0052;
}

h3 {
  font-size: 30px;
}
